body {
    color: #333;
    text-align: center;
    font-family: Arial;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1 {
    font-size: 20px;
}

#cabecera {
    background: #33A;
    color: white;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, .5);
    font-weight: bold;
    margin: 0;
    padding: 05.rem;
}

#cabecera #tagline {
    font-weight: normal;
    font-size: .8rem;
    padding: 0 0 0 1em;
}